				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo">	
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB Garamond">				
				<style>
				table, th, td {
				  border: 2px solid black;
				  border-collapse: collapse;
				}
				table {width: 100%;}
				th, td {
				  padding: 5px;
				  text-align: center;
				}

				.Experience,.Headers {
					font-weight: bold;
					font-family: "Cardo";
					font-size: 1.2em;
					background: #b7b7b7;
				}
				.Experience {
					text-align:left;
					background: #e3e8e5;
				}	
				footer {
					text-align:center;
					font-family: "EB Garamond";
					font-weight: italic;
				}

				</style>			

			<header class="clearfix">
				<h1>{{ with .Site.Params.title }}{{ . | markdownify }}{{ end }}<span>{{ with .Site.Params.subtitle }}{{ . | markdownify }}{{ end }}</span></h1>
				<br>
				<table>
				  <tr class="Headers">
				    <th>For</th>
				    <th>Choose the Resume Type</th>
				    <th>Because it</th>
				  </tr>
				  <tr>
				    <td class="Experience"> Fresh Graduates , Career Change, Employment Gap </td>
				    <td>Functional</td>
				    <td>Focuses on Skills over Work Experience</td>
				  </tr>
				  <tr>
				    <td class="Experience"> Experience > 1 Yrs </td>
				    <td>Chronological</td>
				    <td>Focuses on Work History and Achievements</td>
				  </tr>
				  <tr>
				    <td class="Experience"> Experience > 3 Yrs </td>
				    <td>Combinational</td>
				    <td>Focuses on Skills as well as Work Experience</td>
				  </tr>
				</table>
			</header>
