				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo">	
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB Garamond">
				<style>
				table, th, td {
				  border: 2px solid black;
				  border-collapse: collapse;
				}
				table {width: 100%;}
				th, td {
				  padding: 5px;
				  text-align: center;
				}
	
				footer {
					text-align:center;
					font-family: "EB Garamond";
					font-weight: italic;
				}

				</style>			

			<header class="clearfix">
				<h1>{{ with .Site.Params.title }}{{ . | markdownify }}{{ end }}<span>{{ with .Site.Params.subtitle }}{{ . | markdownify }}{{ end }}</span></h1>
				<br>
			</header>
